$primary-color:#E47C29;
$white-color:#ffffff;
$red-color:#FF5454;
$blue-color:#002947;
$dark-blue:#08131B;
$light-blue-color:#024B5C;
$lightest-blue-color:#5E7484;
$gray-color:#474747;

// font-family
$primary-font: "Archivo";
$fonts-path: "../fonts";

/* Image Path          */
$image-path: "../images";


